html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  overflow: hidden;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: arial, "Roboto", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4px;
}

.navbar {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 267px;
  padding: 18px;
  line-height: 24px;
  margin-top: -10px;
  margin-right: -5px;
}

.navbar__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-family: arial, "Roboto", sans-serif;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__button {
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0px;
  margin-right: -10px;
  border: 0;
  opacity: 0.5;
}

.navbar__button:hover {
  background-color: #f2f2f2;
}

.navbar__img {
  border-radius: 100%;
  cursor: pointer;
}

.search {
  margin-top: 60px;
  width: 100%;
  height: calc(100vh - 205px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__logo {
  margin-bottom: 30px;
}

.search__form {
  height: 45px;
  width: 597px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  border: 1px solid #e0e2e6;
  margin-bottom: 35px;
}

.search__form__button {
  width: 45px;
  background-color: transparent;
  border: 0;
  padding: 10px 15px;
  opacity: 0.3;
}

.search__form__button:last-child {
  margin-right: 12px;
}

.search__form__input {
  width: 535px;
  border: 0;
}

.search__form__input:focus {
  outline: none;
}

.search__form:hover {
  -webkit-box-shadow: 0px 0px 10px #e0e2e6;
          box-shadow: 0px 0px 10px #e0e2e6;
}

.search__buttons {
  height: 35px;
  margin-bottom: 32px;
}

.search__buttons__submit {
  background-color: #f8f9fa;
  border: 0;
  margin: 0 4px;
  font-size: 14px;
  padding: 14px;
  cursor: pointer;
  color: #3c4043;
}

.search__buttons__submit:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.search__footer {
  margin-bottom: 140px;
  font-size: small;
}

.search__footer__link {
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 95px;
  background-color: #f2f2f2;
}

.footer .region {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .links__container a {
  line-height: 45px;
  color: #70757a;
  padding: 15px;
  font-size: 14px;
  text-decoration: none;
}

.footer .links__container a:hover {
  text-decoration: underline;
}

.footer .links__container:first-child {
  margin-left: 25px;
}

.footer .links__container:last-child {
  margin-right: 25px;
}
/*# sourceMappingURL=styles.css.map */