// Universal Box sizing with inheritance - reset box
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// fonts 
$text-navbar: rgba(0,0,0,0.87);
$button-hover: #f2f2f2;
$font-navbar: arial,'Roboto', sans-serif;

.container{
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-navbar;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 4px;
}

// navbar
.navbar{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 267px;
    padding: 18px;
    line-height: 24px;
    margin-top: -10px;
    margin-right: -5px;
    // navbar__link
    &__link{
        text-decoration: none;
        color: $text-navbar;
        font-family: $font-navbar;
    }
    &__link:hover{
        text-decoration: underline;
    }

    &__button{
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
        height: 40px;
        width: 40px;
        padding: 0px;
        margin-right: -10px;
        border: 0;
        opacity: 0.5;
    }
    &__button:hover{
        background-color: $button-hover;
    }
    &__img{
        border-radius: 100%;
        cursor: pointer;
    }

}


// Search
.search{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 205px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__logo{
        margin-bottom: 30px;
    }
    &__form{
        height: 45px;
        width: 597px;
        border: 1px solid red;
        display: flex;
        border-radius: 30px;
        border: 1px solid #e0e2e6;
        margin-bottom: 35px;

        &__button{
            width: 45px;
            background-color: transparent;
            border: 0;
            padding:10px 15px;
            opacity: 0.3;
        }
        &__button:last-child{
            margin-right: 12px;
        }
        &__input{
            width: 535px;
            border: 0;
        }
        &__input:focus{
            outline: none;
        }

    }

    &__form:hover{
        box-shadow: 0px 0px 10px #e0e2e6;
    }
    
    $color-buttons : #f8f9fa;
    &__buttons{
        height: 35px;
        margin-bottom: 32px;
        &__submit{
            background-color: $color-buttons;
            border: 0;
            margin: 0 4px;
            font-size: 14px;
            padding: 14px;
            cursor: pointer;
            color: #3c4043;
        }
        &__submit:hover{
            box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        }
    }

    &__footer{
        margin-bottom: 140px;
        font-size: small;
        
        &__link{
            text-decoration: none;
        }
    }
}
$color-footer : #f2f2f2;
.footer{
    
    width: 100%;
    height: 95px;
    background-color: $color-footer;
    .region{
        padding: 15px 30px;
        border-bottom: 1px solid #dadce0;
        font-size: 15px;
        color: rgba(0,0,0,.54)
    }
}